.header {
    background: linear-gradient(to top,  gray, white);
    height: 50px;
    width: 110%;
    box-shadow: 0 0 4px black;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input__list {
    width: 300px;
    height: 15px;
    border: 0;
}

.bt__list__add {
    margin-left: 10px;
    width: 80px;
    height: 30px;
}

.bt__list__add:hover {
    box-shadow: 0 0 5px green;
    cursor: pointer;
}

.window__todolists {
    margin-top: 30px;
    max-width: 1180px;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: rgba(150,150,150,0.3);
    display: flex;
}


.wrapper__todolist__list {
    background-color: gray;
    max-width: 375px;
    width: 375px;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    border: 2px solid green;
    box-shadow: 0 0 5px white;
    margin-top: 10px;
    margin-left: 10px;
}

.title__list__task {
    max-height: 30px;
    height: 30px;
    width: auto;
    margin-top: 5px;
}

.input__tasks {
    width: 250px;
}

.ul__tasks {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 180px;
    width: 300px;
    background-color: lightgray;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 14px;
}
.error__empty__field {
    height: 6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 10px;
    text-shadow: 0 0 2px red;
    margin-bottom: -6px;
}

.field__message {
    height: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error__input {
    border: 2px solid red;
}

.ul__tasks::-webkit-scrollbar { width: 6px; height: 3px;}
.ul__tasks::-webkit-scrollbar-track {  background-color: black;}
.ul__tasks::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.ul__tasks::-webkit-scrollbar-thumb { height: 100px; background-color: green; border-radius: 3px;}
.ul__tasks::-webkit-scrollbar-corner { background-color: black;}
.ul__tasks::-webkit-resizer { background-color: #666;}

.title__tasks {
    display: flex;
    width: 95%;
    padding-left: 10px;
    max-width: 250px;
    word-break:break-all;
    cursor: pointer;
}

.check__tasks{
    align-self: center;
}

.bt__tasks__del {
    align-self: center;
    margin-right: 8px;
    color: red;
    cursor: pointer;
    text-shadow: 0 0 1px black;
}

.li__task{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 330px;
    margin-left: -40px;
}

.back__white{
    background-color: white;
}

.wrapper__bt__list {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 10px;

}

.delete__list {
    border: 2px solid red;
    border-radius: 15px;
    width: 70px;
    height: 25px;
}
.delete__list:hover {
    background-color: rgba(249,0,8,0.76);
    color: white;
}
.delete__list:focus {
    background-color: red;
    color: white;
}



.bt__filter {
    height: 25px;
    border-radius: 15px;
    border:2px solid green;
}

.bt__filter:hover {
    background-color: rgba(0,104,13,0.22);
}
.bt__filter:focus {
    background-color: rgba(0,130,22,0.82);
}
.bt__bc__green {
    background-color: rgba(0,130,22,0.82);
}


.completed__todolist {
    position: absolute;
    width: 340px;
    height: 178px;
    top: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
    background-color: rgba(17,17,18,0.73);
}
.completed__todolist i{
    font-size: 35px;
    transform: rotate(-25deg);
    text-shadow: 0 0 5px white;
}

.wrapper_add_new_form {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    max-height: 40px;
}

.wrapper_input_add_new_form {
    margin-bottom: 10px;
}